[submodule "dependencies/glfw"]
	path = Junia/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/HiWiSciFi/Junia.wiki.git
[submodule "Junia/dependencies/VulkanMemoryAllocator"]
	path = Junia/dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Junia/dependencies/SPIRV-Reflect"]
	path = Junia/dependencies/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
