[submodule "Junia/dependencies/spdlog"]
	path = Junia/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Junia/dependencies/plog"]
	path = Junia/dependencies/plog
	url = https://github.com/SergiusTheBest/plog
