[submodule "Junia/dependencies/GLFW"]
	path = Junia/dependencies/GLFW
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "Junia/dependencies/stb/include/stb"]
	path = Junia/dependencies/stb/include/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "Junia/dependencies/GLM/GLM"]
	path = Junia/dependencies/GLM/GLM
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "Junia/dependencies/EnTT/EnTT"]
	path = Junia/dependencies/EnTT/EnTT
	url = https://github.com/skypjack/entt
	ignore = dirty
[submodule "Junia/dependencies/glad"]
	path = Junia/dependencies/glad
	url = https://github.com/HiWiSciFi/glad-junia.git
	ignore = dirty
[submodule "Junia/dependencies/nuklear/nuklear"]
	path = Junia/dependencies/nuklear/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "Junia/dependencies/imgui/imgui"]
	path = Junia/dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
