# DIRECTORIES
/out/
/out-obj/

# VS
/.vs/

# CODELITE
/.codelite/

# XCODE4
*.xcworkspace/
*.xcodeproj/

# FILES
*.swp

# VS
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcproj

# GMAKE and GMAKE2
[Mm]akefile

# CMAKE
[Cc][Mm]ake[Ll]ists.txt

# CODELITE
*.workspace
*.project

# XCODE4
*.xcworkspace
*.xcodeproj
