# DIRECTORIES
/out/
/out-obj/

# VS
/.vs/

# FILES

# VS
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcproj

# GMAKE and GMAKE2
Makefile

# CODELITE
*.workspace
*.project

# XCODE4
*.xcworkspace
*.xcodeproj